<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tak.youtube-weekly-subs</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/takmiura/Desktop/Tak HQ/COO/youtube-schedule/scripts/weekly-subscribers.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/takmiura/Desktop/Tak HQ/COO/youtube-schedule/data/weekly-subs.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/takmiura/Desktop/Tak HQ/COO/youtube-schedule/data/weekly-subs.log</string>
</dict>
</plist>
